@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/* headings and logo */
/*
h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px; 
    color: #252525;
}
*/
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;

    font-family: Oswald, sans-serif;
    letter-spacing: 4px; 
    color: #252525;
}

/* menue css */

#menunav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

#menunav ul{
  float: right;
  margin-right: 20px;
}
#menunav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
#menunav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.active.active{
  background: #1b9bff;
  transition: .5s;
}

.menuelink:hover{
  background: #1b9bff;
  transition: .5s;
}


.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


/* navigation links
#menu {
    font-size: 110%
    letter-spacing: 4px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    
}

menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px slid #3a3a3a;
}

.active {
    border-bottom:1px solid #3a3a3a;
}
*/
/* hero-image */
/*
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}
*/
/*
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/Greek-food-and-fish-with-sea-views.avif) no-repeat center center;
    
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
*/


/* creates the level of zoom for hero image */
/*
@jetfranes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}
*/
/*
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom:30px;
    right: 150px;

    position:absolute;
}
*/

/* footer */

footer {
    height: 150px;
}

.social-networks{
    text-align: center;
    
    

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photos > img {
    width: 100%;
}

/* first page classes */
/* Style the container/contact section */
.containerhome {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    clear:both
  }
  
  /* Create two columns that float next to eachother */
  .columnhome {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .rowhome:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 950px) {
    .columnhome {
      width: 100%;
      margin-top: 0;
    }
  }

  .img-info h2 {
    padding: 0px 30px 20px;;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 24px;
}

.img-info p {
    padding:0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}
/*
.wrapper {
    width: 100%;
    float: left;
    clear:left;
}



.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 0px 30px 20px;;
    font-family: arial;
    font-size: 50 px;
    color: #111;
    line-height: 24px;
}

.img-info p {
    padding:0px 30px 20px;
    font-family: arial;
    font-size: 16 px;
    color: #111;
    line-height: 24px;
}

.img-me {
    width: 100%;
    padding-top: 30px;
}
*/

#menu{
		clear: left;
		float: left;
        
        padding: 0 0px ;
        margin: 0px 0px 0px 29px;
        font-size: 10px ;
	}

/* menu page css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    clear:both
  }
  
  .menu-page {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }



/* booking page classes */
/* Style inputs */
.bookbody {
    font-family: Arial, Helvetica, sans-serif;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=email]  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #835fe6;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container1 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    clear:both;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* responsive design media queries */
@media only screen and (min-width:768px) {
/*
     .wrapper {
        width: 100%;
        float: left;
        clear:left;
        
        
    }

    .img-info h2 {


        padding: 0px 30px 20px;;
        font-family: arial;
        font-size: 50 px;
        color: #111;
        line-height: 24px
    }
    
    .img-info p {
        padding:0px 30px 20px;
        font-family: arial;
        font-size: 16 px;
         color: #111;
         line-height: 24px;

    }

    .img-me {
        padding-top: 30px;
    }
*/
	#menu{
		clear: left;
		float: left;
 
        padding: 0 0px ;
        margin: 0px 0px 0px 29px;
        font-size: 10px ;
	}
}


/* menue of the header */
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  #menunav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  #menuul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  #menunav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #menunav ul li a{
    font-size: 20px;
  }
  .menuelink:hover{
    background: none;
    color: #0082e6;
  }

  .active.active{
    background: none;
    color: #0082e6;
  }

  
  #check:checked ~ ul{
    left: 0;
  }
}








@media only screen and (min-width:1000px) {
    #menu{
		clear: none;
		float: right;
	}

  /*
  .wrapper {
    width: 80%;
    clear:both;
    
  }
  .img-info  {
    width: 50%;
    float: right;
   }
  .img-me {
    padding-top: 0px;
    width: 50%;
    float: left;
    
    
 }
  
 .img-info h2 {
    padding:20px 0px 0px 30px;
    font-family: arial;
    font-size: 50 px;
    color: #111;
    line-height: 24px
    
  }



  .img-info p {
    padding:20px 0px 0px 30px;

  }
*/
  /*menu page */
  .menu-page {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }

}
/* footer work */

.divfooter {
    bottom: 0;
    color: #707070;
    left: 0;
    position: relative;
    clear:both;
    width:100%;
}
