@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/* headings and logo */
/*
h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px; 
    color: #252525;
}
*/
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;

    font-family: Oswald, sans-serif;
    letter-spacing: 4px; 
    color: #252525;
}

/* navigation links */
#menu {
    font-size: 110%
    letter-spacing: 4px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    
}

menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px slid #3a3a3a;
}

.active {
    border-bottom:1px solid #3a3a3a;
}

/* hero-image */
/*
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}
*/
/*
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/Greek-food-and-fish-with-sea-views.avif) no-repeat center center;
    
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
*/


/* creates the level of zoom for hero image */
/*
@jetfranes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}
*/
/*
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom:30px;
    right: 150px;

    position:absolute;
}
*/

/* footer */

footer {
    height: 150px:
}

.social-networks{
    text-align: center;
    
    

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear:both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photos > img {
    width: 100%;
}

/* Media queries */

/* responsive design */

.wrapper {
    width: 100%;
    float: left;
    clear:left;
}



.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 0px 30px 20px;;
    font-family: arial;
    font-size: 50 px;
    color: #111;
    line-height: 24px;
}

.img-info p {
    padding:0px 30px 20px;
    font-family: arial;
    font-size: 16 px;
    color: #111;
    line-height: 24px;
}

.img-me {
    width: 100%;
    padding-top: 30px;
}

#menu{
		clear: left;
		float: left;
        
        padding: 0 0px ;
        margin: 0px 0px 0px 29px;
        font-size: 10px ;
	}

@media only screen and (min-width:768px) {

     .wrapper {
        width: 100%;
        float: left;
        clear:left;
        
        
    }

    .img-info h2 {


        padding: 0px 30px 20px;;
        font-family: arial;
        font-size: 50 px;
        color: #111;
        line-height: 24px
    }
    
    .img-info p {
        padding:0px 30px 20px;
        font-family: arial;
        font-size: 16 px;
         color: #111;
         line-height: 24px;

    }

    .img-me {
        padding-top: 30px;
    }

	#menu{
		clear: left;
		float: left;
 
        padding: 0 0px ;
        margin: 0px 0px 0px 29px;
        font-size: 10px ;
	}
}










@media only screen and (min-width:1000px) {
    #menu{
		clear: none;
		float: right;
	}

  .wrapper {
    width: 80%;
    clear:both;
    
  }
  .img-info  {
    width: 50%;
    float: right;
   }
  .img-me {
    padding-top: 0px;
    width: 50%;
    float: left;
    
    
 }
  
 .img-info h2 {
    padding:20px 0px 0px 30px;
    font-family: arial;
    font-size: 50 px;
    color: #111;
    line-height: 24px
    
}

}

.img-info p {
    padding:20px 0px 0px 30px;

}

/* footer work */

.divfooter {
    bottom: 0;
    color: #707070;
    left: 0;
    position: relative;
    clear:both;
    width:100%;
}
